/* Used fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

/* Colors */

$bg-color1: #191919;
$bg-color1-hover: #282828;
$bg-color-border-hover:#f58220;
$bg-color2: #f5f5f2;
$df-font-color: #a6a6a6;
$aside-font-color: #999999;
$aside-font-color-hover: #ffffff;
$bg-color3: #04ae00;
$bg-color4: #80bfca;
$bg-color5: #f3f3f1;




/* Font sizes */

$paragraph-font-size: 16px;
/* Fonts */

$default-font: 'Roboto',
sans-serif;