.leftNav {
    background-color: $bg-color1;
    color: $aside-font-color;

    .leftNavHeader {
        padding: 20px 20px 20px;

        .logo {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .hamburger {
                padding-top: 3px;

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(2.25);
                }
            }
        }
    }

    .navigation {
        ul {
            display: block;
            padding: 0;

            .menuItem {
                display: block;
                line-height: 14px;
                height: 40px;

                &:hover {
                    background-color: $bg-color1-hover;
                    border-left: 7px solid $bg-color-border-hover;

                    .iconMenu {
                        filter: brightness(2.25);
                    }
                }

                .iconMenu {
                    width: 12px;
                    padding-left: 18px;
                    padding-right: 12px; // background: $aside-font-color url(/images/icons/icon-banners.png);

                    &:hover {
                        filter: brightness(2.25);
                    }
                }

                a {
                    color: $aside-font-color;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 42px;
                    text-decoration: none;

                    &:hover {
                        color: $bg-color6;
                    }
                }
            }
        }


    }

    .chat {
        border-top: 1px solid $border-color1;
        text-align: center;

        h3 {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin: 0 auto;
            text-align: center;
            margin: 10px 0;
        }

        .avatar {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: space-around;
            margin: 0 auto;

            .avatarImg {
                position: relative;

                img {
                    height: 43px;
                    width: auto;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

    }
}